SECRET_KEY=your_flask_secret_key
JWT_SECRET_KEY=your_jwt_secret_key
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/blogging_db
MAIL_USERNAME=your_gmail@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
