bcrypt==4.3.0
blinker==1.9.0
certifi==2026.2.25
click==8.1.8
cloudinary==1.44.2
colorama==0.4.6
dnspython==2.7.0
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Classful==0.16.0
Flask-JWT-Extended==4.7.1
Flask-Mail==0.10.0
Flask-PyMongo==3.0.1
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
PyJWT==2.10.1
pymongo==4.11.1
python-dotenv==1.0.1
six==1.17.0
urllib3==2.6.3
Werkzeug==3.1.3
